<div style="margin:2em;">
<h1  style="margin-left:2.2em">Jak to działa?</h1>

<mat-accordion multi="true">
    <mat-expansion-panel expanded="true" style="margin-bottom:2em;margin-right: 2em;margin-left:2em;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Serwis jest darmowy
        </mat-panel-title>
        <mat-panel-description>
          <span style="flex: 1 1 auto;"></span><mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      Nie płacisz za oddanie głosu
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" style="margin-bottom:2em;margin-right: 2em;margin-left:2em;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Jeden Pesel daje jeden głos
          </mat-panel-title>
          <mat-panel-description>
            <span style="flex: 1 1 auto;"></span><mat-icon>flaky</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        W każdym głosowaniu możesz oddać jeden głos posługując się jednym peselem
      </mat-expansion-panel>
      <mat-expansion-panel expanded="true"  style="margin-bottom:2em;margin-right: 2em;margin-left:2em;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Podpisujesz głos e-PUAP`em
          </mat-panel-title>
          <mat-panel-description>
            <span style="flex: 1 1 auto;"></span><mat-icon>fingerprint</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        Aby upewnić się że każdy oddaje głos tylko jeden, należy potwierdzić swój głos ePUAP-em
      </mat-expansion-panel>      
</mat-accordion>
<div  style="margin-top:2em;font-family: 'Segoe Script';font-size: 36px;">Do dzieła przyjacielu</div>
</div>


