.icon {
    height: 35px;
    width: 35px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    float: left;
}

.icon svg {
    fill: #909293;
}
.upload-text {
  overflow: hidden;
  width: auto;
  position: relative;
  padding-left: 20px;
}
:host(.list-visible) .upload-text {
  display: none;
}

.file_action {
  margin-left: 2em;
}

.hide_uploaded {
  display: none;
}
.bold_uploaded {
  font-weight: 700;
  color: green;
  
}