.poll-card {
    min-width: 40%;
    margin-left: 2em;
    margin-right: 2em;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }