<div class="center">
<mat-card  class="poll-card">
    <mat-card-title>
      <div style="display: flex;">
      <span>{{poll.title}}</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-button color="primary"   [routerLink]="['/results',poll.slug]"  >Wyniki</button>
    </div>
    </mat-card-title>
    <mat-card-subtitle *ngIf="!vote.isValid"><mat-error>Uzupełnij pole</mat-error></mat-card-subtitle>
<mat-card-content>
<mat-accordion>
        <mat-expansion-panel *ngFor="let question of poll.questions; let question_i = index;let question_first = first; let question_last = last"
          [expanded]="question_i === accordionStates"
           (opened)="setQuestion(question_i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{question.question}} 
            </mat-panel-title>
            <mat-panel-description>
                <mat-error *ngIf="!vote.questions[question_i].isValid">Uzupełnij pole</mat-error>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <mat-radio-group *ngIf="question.type == 'single'"
                class="radio-group" (change) = "handleSingleAnswerChange(question_i,$event)">
                <mat-radio-button class="radio-button" [value]="answer.slug" *ngFor="let answer of question.answers">
                {{answer.answer}}
                </mat-radio-button>
            </mat-radio-group>

            <div class="radio-group" *ngIf="question.type == 'multi'">
                <mat-slide-toggle  class="radio-button" *ngFor="let answer of question.answers" (change) = "handleMultiAnswerChange(question_i,$event,answer.slug)" >{{answer.answer}}</mat-slide-toggle>
            </div>
            <mat-action-row>
                <button *ngIf="question_last" [disabled] = "showDialog" mat-flat-button color="primary" (click)='openSummary()'>Głosuj</button> 
                <button *ngIf="showDialog" mat-flat-button color="primary" (click)='download()'>Pobierz</button> 
                <span style="flex: 1 1 auto;"></span>
                <button *ngIf="!question_first" mat-button color="warn" (click)="prevQuestion(question_i)">Poprzednie</button>
                <button *ngIf="!question_last" mat-button color="primary" (click)="nextQuestion(question_i)">Następne</button>
              </mat-action-row>
        </mat-expansion-panel>
   
</mat-accordion>
</mat-card-content>
</mat-card>
</div>


